parent{
    border:2px black dotted;
    display:inline-block;
}
box{
    display:inline-block;
    background:yellow;
    width:100px;
    height:100px;
}
#two{
    background : green;
    top:20px;
    left:20px;
    background:green;
    position: relative;
}
#two{
    top:20px;
    left:20px;
    background:green;
    position:absolute;
}
